<div class="m-player">
  <div class="lock">
    <div class="left"><i></i></div>
  </div>
  <div class="hand"></div>
  <div class="container">
    <div class="wrap">
      <div class="btns">
        <i class="prev" (click)="onSongChange(-1)"></i>
        <i [class.playing]="playing" (click)="onToggle()" class="toggle"></i>
        <i class="next" (click)="onSongChange(1)"></i>
      </div>
      <div class="head">
        <img [src]="picUrl" />
        <i class="mask"></i>
      </div>
      <div class="play">
        <div class="words clearfix">
          <p class="ellipsis margin-bottom-none">{{ currentSong?.name }}</p>
          <ul class="songs clearfix margin-bottom-none">
            <li *ngFor="let a of currentSong?.ar; last as isLast">
              <a>{{ a.name }}</a>
              <span [hidden]="isLast">/</span>
            </li>
          </ul>
        </div>
        <div class="bar">
          <div class="slider-wrap">
            <app-wy-slider
              [(ngModel)]="sliderValue"
              (ngModelChange)="onSliderPercentChange($event)"
              [wyBufferOffset]="buffer"
            ></app-wy-slider>
          </div>
          <span class="time"
            ><em>{{ currentTime | playTime }}</em> /
            {{ currentSong?.dt | playTime }}</span
          >
        </div>
      </div>
      <div class="oper">
        <i class="like" title="收藏"></i>
        <i class="share" title="分享"></i>
      </div>
      <div class="ctrl">
        <i
          class="volume"
          title="音量"
          (click)="toggleVolumeVisible($event)"
        ></i>
        <i
          [ngClass]="playMode.type"
          [title]="playMode.name"
          (click)="changeMode()"
        ></i>
        <p class="open"><span></span></p>
        <div class="control-vol" [hidden]="!volumeVisible" #volCtl>
          <app-wy-slider
            [(ngModel)]="volume"
            [wyVertical]="true"
          ></app-wy-slider>
        </div>
      </div>
    </div>
  </div>

  <audio
    [src]="currentSong?.url"
    [volume]="playVolume"
    (canplay)="onCanPlay()"
    (timeupdate)="onTimeUpdate($event)"
    (progress)="onProgress()"
    (ended)="onEnd()"
    #audio
  ></audio>
</div>
